/* custom */

#simp-bar{
  position: fixed !important;
  right: 32px;
  bottom: 16px;
  z-index: 100 !important;

  height: 48px !important;
  background: inherit;
  background-color: rgba(231, 248, 252) !important;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-style: normal;
  font-size: 18px !important;
  text-align: left;
  -moz-box-shadow: 2px 2px 8px 4px #888888 !important;
  -webkit-box-shadow: 2px 2px 8px 4px #888888 !important;
  box-shadow: 2px 2px 8px 4px #888888 !important;
  cursor: pointer;
  padding: 0px 0px 0px 5px;
}
#simp-bar > div {
  margin-right: 12px;
}
#simp-bar div, #simp-bar ul {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
}
#simp-bar li {
  margin: 12px 6px;
  width: 24px;
  height: 24px;
  display: inline-block;
}
#simp-bar-container-left li {
  position: relative;
}    

#simp-bar li img {
  width: 24px;
  height: 24px;
}
#simp-bar * {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
}
.logoSmall{
  border-width: 0px;
  margin: 6px 0px;
  width: 36px;
  height: 36px;
  /* border: 1px solid red; */
}

.toolbarText{
  /* padding-left: 0px;
  padding-top: 5px; */
  margin: 10px -8px;
  width: 88px;
  height: 36px;
}
.popover {
  min-width: 280px ;
  min-height: 90px;
  top: -101px !important;
  background-color: rgba(231, 248, 252, 0.749019607843137);
}
.popover-title {
  background-color: rgba(231, 248, 252, 0.749019607843137);
}
.popover.top>.arrow {
  border-top-color: rgba(231, 248, 252, 0.749019607843137);
}
.popover.top>.arrow:after {
  border-top-color: rgba(231, 248, 252, 0.749019607843137);
}
.container-fluid{
  padding-right: 8px;
  padding-left: 8px;
}
.popoverAccess{
  min-width: 150px !important;
  min-height: 75px;
  top: -80px !important;
  left: -50.563px !important;
  background-color: rgba(231, 248, 252, 0.749019607843137);
  text-align: center;
  padding: 23px 5px;
  border-radius: 10px;
}
.popover-tutorial{
  min-width: 400px !important;
  min-height: 150px;
  top: -90px !important;
  left: -400.563px !important;
  text-align: left;
  padding: 15px 15px;
  border-radius: 10px;
  /* background: #ffffff url(../images/logo.png) no-repeat right bottom;
  opacity: 0.25;
  background-size: 200px 100px; */
  background-color: #ffffff;
  background: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)), url(../images/logo.png) no-repeat right bottom;
  /* background-blend-mode: darken; */
  background-size: 200px 100px;
}
.popover-text{
  min-width: 400px !important;
  min-height: 150px;
  text-align: left;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  background: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)), url(../images/textTool.png) no-repeat right bottom;
  background-size: 200px 100px;
}
.popover-procedure{
  min-width: 400px !important;
  min-height: 150px;
  text-align: left;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  background: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)), url(../images/procedure.png) no-repeat right bottom;
  background-size: 200px 100px;
}
.popover-access{
  min-width: 400px !important;
  min-height: 150px;
  text-align: left;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  background: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)), url(../images/access.png) no-repeat right bottom;
  background-size: 200px 100px;
}
.popover-question{
  min-width: 400px !important;
  min-height: 150px;
  text-align: left;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  background: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)), url(../images/questions.png) no-repeat right bottom;
  background-size: 200px 100px;
}
.popover.top>.arrow.arrowTutorial:after{
  border-top-color: #ffffff;
}
.followTutorial{
  position: absolute;
  bottom: 5px;
  left: 10px;

  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #2196F3;
  cursor: pointer;
}
.followTextTutorial{
  font-size: 14px;
  color: #2196F3 !important;
  padding-left: 5px;
}
.ui-dialog {
  position: fixed !important;
  top: 40%!important;
  left: 35% !important;
  padding: .2em;
  outline: 0;
}
/*******************Switch*******************************/
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  top: 4px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderText:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: -1px;
  background-color: yellow;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderWord:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: -1px;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

input#textCheckbox:checked + .slider {
  background-color: rgba(255, 255, 0, 0.247058823529412);
}

input#textCheckbox:focus + .slider {
  box-shadow: 0 0 1px rgba(255, 255, 0, 0.247058823529412);
}
input#wordCheckbox:checked + .slider {
  background-color: rgba(217, 83, 79, 0.247058823529412);
}

input#wordCheckbox:focus + .slider {
  box-shadow: 0 0 1px rgba(217, 83, 79, 0.247058823529412);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}
/*end switch*/

.wordColor{
  color: #FFFFFF;
  background-color: #d9534f;
  border-right: 2px solid #d9534f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 100;
}


/*tooltip*/
.tooltip.bottom .tooltip-arrow{
  border-bottom-color:#f2f2f2;
}
.tooltip-innerText{
  color:#333333;
  background-color:#f2f2f2 !important;
  width: 500px;
  height: 120px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
}
.popupText {
  /* visibility: hidden; */
  min-height: 20px;
  max-width: 600px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.117647058823529);
  box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.117647058823529);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  
}
.popupText>h4{
  font-weight: 700;
}
.popupWord{
  min-height: 20px;
  max-width: 600px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.117647058823529);
  box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.117647058823529);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  text-align: left;
}
.popupWord>h4{
  font-weight: 700;
}
#simp-question-num-li{
  margin: 10px 0px 0px 0px !important;
  width: 15px !important;
  height: 10px !important;
}
#simp-question-num{
  position: absolute;
  bottom: -80%;
  left: -65%;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  background-color: white;
  /* margin-left: -65%; */
  padding: 0px 1px;
  font-size: 10px;
}
.ansNum{
  position: absolute;
  right: 5px;
  /* width: 3%;
  border-style: solid;
  border-width: 1px;
  border-radius: 40%; */
  /* outline: 1px solid black; */
  border: 1px solid #888888;
  border-radius: 25px;
  color: white;
  background-color: #1ebad9;
  padding: 0px 2px;
}
/* 
* modify modal style
*
*/
/* position of the question modal */
#questionModal{
  bottom: -10%;
  right: -58%;
}
/* max-height and scroll bar of the question modal body */
.questionModalBody{
  max-height: calc(100% - 130px);
  overflow-y: auto;
}
.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 85%;
}
/* modal come from bottom  */
.modal.fade:not(.in).bottom .modal-dialog {
  -webkit-transform: translate3d(0,55%, 0);
  transform: translate3d(0,55%, 0);
}
/* send button */
.btn-send{
  background-color: #2196f3;
  border-color: #2196f3;
}
/* Modal Header for question */
.question-modalHeader{
  background-color: #1ebad9;
  border-color: #1ebad9;
  border-radius: inherit;
}